@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  background-color: #eeeeee;
  font-family: Inter, system-ui, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.title {
  font-family: Inter, Georgia, serif;
	font-weight: 400;
  margin-bottom: 20px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

#outline-container-backlinks {
  background-color: #dddddd;
  padding: 0px 16px;
  border-radius: 25px;
}

#postamble {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#content > * {
  max-width: 40rem;
}

Stretch out text content so it aligns properly
#content p,
div.outline-2 h2,
div.outline-2 h3,
div.outline-2 h4,
div.outline-2 h5,
div.outline-2 h6 {
  width: 100%;
}

pre.src {
  background-color: white;
}

/* Bunch code + result blocks together */
/* Color result blocks light grey */
div.org-src-container + pre.example {
  margin-top: -22px;
  background-color: #e3e3e3;
}


/* Always display language of src block */
pre.src:before {
  display: inline;
}

blockquote {
  font-style: italic;
  border-left: 0.2em solid #039be5;
  padding-left: 16px;
}
