@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
  background-color: #fff;
  font-family: 'Roboto Mono', 'Courier', 'Helvetica', sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}

.title {
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 300;
  margin-bottom: 20px;
}

h2, h3, h4, h5, h6 {
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
}

.org-dl {
  background-color: #c0fec0;
  padding: 16px 16px;
  border-radius: 25px;
}


#preamble {
  padding: 5px 10px;
  border-bottom: 1px solid rgb(229, 231, 235);
}

#content {
  margin: auto;
  max-width: 50rem;
  padding-left: 10px;
  padding-right: 10px;
}

#outline-container-backlinks {
  background-color: #eee;
  padding: 8px 16px;
  border-radius: 25px;
  max-width: 20rem;
  margin: auto;
}

#postamble {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgb(229, 231, 235);
}


pre.src {
  background-color: white;
}

/* Bunch code + result blocks together */
/* Color result blocks light grey */
div.org-src-container + pre.example {
  margin-top: -22px;
  background-color: #e3e3e3;
}


/* Always display language of src block */
pre.src:before {
  display: inline;
}

blockquote {
  margin-left: 0;
  font-style: italic;
  border-left: 0.2em solid #039be5;
  padding-left: 16px;
}

p {
  color: #4B4B4B;
}

a {
  color: color: rgba(37, 99, 235, 1);
  text-decoration: none;
}

a:hover {
  color: color: rgba(30, 64, 175, 1);
  text-decoration: underline;
}
