/* variables used below are defined in setup-initial-theme.js */

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--bg);
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: var(--text);
  font-size: 15px;
  line-height: 28px;
}

#theme-switcher {
  display: none;
}

#theme-switcher-label {
  cursor: pointer;
}
#theme-switcher-label::before {
  font-size: 20px;
  content: var(--switch-icon);
  transition: color .5s ease;
}

#nebula-logo {
  fill: var(--nebula-logo);
  -webkit-transition: fill .5s ease;
  -moz-transition: fill .5s ease;
  -o-transition: fill .5s ease;
  transition: fill .5s ease;
}

#nebula-logo:hover {
  fill: #66cc00;
}

#ketan-headshot {
  border-radius: 50%;
}

.no-display {
  display: none;
}

.nebula-svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.title {
  text-align: center;
  font-weight: 300;
}

.title sup {
  font-size: 70%;
}

.subtitle {
  font-style: italic;
  font-size: 40%;
}

span.done {
  font-style: italic;
}

span.todo {
  font-weight: 700;
}

.karabiner-keyboard-container > div.outline-text-2 > p,
.karabiner-keyboard-container > div.outline-text-3 > p {
  line-height: 9px;
  white-space: pre;
  font-family: monospace;
}

.headlines-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.headlines-grid-container > div > h3 {
  text-align: center;
}

.heart{
  color:#e25555;
}

.underline { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 400;
  /* color: black; */
}

#preamble {
  padding: 5px 10px;
  border-bottom: 1px solid var(--section-border);
}

#postamble {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top: 1px solid var(--section-border);
}

#content {
  margin: auto;
  max-width: 50rem;
}

#content > * {
  margin-left: 10px;
  margin-right: 10px;
}

/*dotted lines in between top-level content sections*/
p + .outline-2:not(.references) {
  border-top: 4px dotted var(--section-border);
}
.outline-2 + .outline-2:not(.references) {
  border-top: 4px dotted var(--section-border);
}

/* .outline-2, .outline-3, .outline-4 { */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/* } */


.references {
  background-color: var(--references);
  padding: 8px 16px;
  border-radius: 25px;
  /* max-width: 20rem; */
}


/*dotted lines in between reference sections*/
.references > .outline-3 + .outline-3:not(.references) {
  border-top: 4px dotted var(--section-border);
}
.references > .outline-4 + .outline-4:not(.references) {
  border-top: 4px dotted var(--section-border);
}

.backlinks-outline-path {
  font-style: italic;
  font-size: 70%;
}

/* .references > div > h2, */
/* .references > div > h3, */
/* .references > div > h4, */
/* .references > div > h5, */
/* .references > div > h6 { */
/*   margin-block-end: 0; */
/* } */
/* .references > div > div > h3, */
/* .references > div > div > h4, */
/* .references > div > div > h5, */
/* .references > div > div > h6 { */
/*   font-size: 12px; */
/*   margin-block-start: 0; */
/* } */


div.org-src-container {
  position: relative;
}

div.org-src-container:before {
  opacity: 0.5;
  content: attr(data-language);
  display: inline;
  position: absolute;
  right: 10px;
  top: 0px;
  /* background-color: var(--code-label); */
}

pre.src {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  margin-top: 0px;
  /* margin-bottom: 10px; */
  margin-left: 0px;
  margin-right: 0px;

  border: 1px solid var(--code-border);
  background-color: var(--code);
  border-radius: 10px;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */

  font-family: monospace;
  /* position: relative; */
  overflow: auto;
}

/* Bunch code + result blocks together */
/* Color result blocks light grey */
div.org-src-container + pre.example {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;

  /* move the code results block under the code block */
  /* such that the padding-top "looks like" 10px */
  margin-top: calc(-10px - 1em);
  /* margin-bottom: 0px; */
  /* margin-left: 10px; */
  /* margin-right: 10px; */

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--code-output);
  overflow: auto;
}

blockquote {
  margin-left: 0;
  font-style: italic;
  border-left: 0.2em solid #039be5;
  padding-left: 16px;
}

a {
  color: #0a84ff;
  text-decoration: none;
  font-weight: 700;
}

a:visited {
  color: #af52de;
}

a:not([href^="http"],[href="/"]) {
  color: #66cc00;
}


a:not([href^="http"],[href="/"]):visited {
  color: #01a049;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: var(--inline-code);
  color: rgb(229, 126, 58)
}

#mapid {
    height: 400px;
}

/* tippy stuff */
.tippy-content {
  max-height: 30rem;
  overflow-y: auto;
}
.tippy-box[data-theme~=light-border]{
  white-space: normal;
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  text-align: left;
  color: var(--text);
  background-color: var(--tippy);
  background-clip: padding-box;
  border:1px solid var(--tippy-border);
  border-radius: 10px;
  box-shadow: var(--tippy-shadow);
}
.tippy-box[data-theme~=light-border]>.tippy-backdrop{
  background-color: var(--tippy)
}
.tippy-box[data-theme~=light-border]>.tippy-arrow:after,.tippy-box[data-theme~=light-border]>.tippy-svg-arrow:after{
  content:"";
  position:absolute;
  z-index:-1
}
.tippy-box[data-theme~=light-border]>.tippy-arrow:after{
  border-color:transparent;
  border-style:solid
}
.tippy-box[data-theme~=light-border][data-placement^=top]>.tippy-arrow:before{
  border-top-color: var(--tippy)
}
.tippy-box[data-theme~=light-border][data-placement^=top]>.tippy-arrow:after{
  border-top-color: var(--tippy-arrow-after);
  border-width:7px 7px 0;
  top:17px;
  left:1px
}
.tippy-box[data-theme~=light-border][data-placement^=top]>.tippy-svg-arrow>svg{
  top:16px
}
.tippy-box[data-theme~=light-border][data-placement^=top]>.tippy-svg-arrow:after{
  top:17px
}
.tippy-box[data-theme~=light-border][data-placement^=bottom]>.tippy-arrow:before{
  border-bottom-color: var(--tippy);
  bottom:16px
}
.tippy-box[data-theme~=light-border][data-placement^=bottom]>.tippy-arrow:after{
  border-bottom-color: var(--tippy-arrow-after);
  border-width:0 7px 7px;
  bottom:17px;
  left:1px
}
.tippy-box[data-theme~=light-border][data-placement^=bottom]>.tippy-svg-arrow>svg{
  bottom:16px
}
.tippy-box[data-theme~=light-border][data-placement^=bottom]>.tippy-svg-arrow:after{
  bottom:17px
}
.tippy-box[data-theme~=light-border][data-placement^=left]>.tippy-arrow:before{
  border-left-color: var(--tippy)
}
.tippy-box[data-theme~=light-border][data-placement^=left]>.tippy-arrow:after{
  border-left-color: var(--tippy-arrow-after);
  border-width:7px 0 7px 7px;
  left:17px;
  top:1px
}
.tippy-box[data-theme~=light-border][data-placement^=left]>.tippy-svg-arrow>svg{
  left:11px
}
.tippy-box[data-theme~=light-border][data-placement^=left]>.tippy-svg-arrow:after{
  left:12px
}
.tippy-box[data-theme~=light-border][data-placement^=right]>.tippy-arrow:before{
  border-right-color: var(--tippy-arrow-before);
  right:16px
}
.tippy-box[data-theme~=light-border][data-placement^=right]>.tippy-arrow:after{
  border-width:7px 7px 7px 0;
  right:17px;
  top:1px;
  border-right-color: var(--tippy-arrow-after);
}
.tippy-box[data-theme~=light-border][data-placement^=right]>.tippy-svg-arrow>svg{
  right:11px
}
.tippy-box[data-theme~=light-border][data-placement^=right]>.tippy-svg-arrow:after{
  right:12px
}
.tippy-box[data-theme~=light-border]>.tippy-svg-arrow{
  fill: var(--tippy);
}
.tippy-box[data-theme~=light-border]>.tippy-svg-arrow:after{
  background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCA2czEuNzk2LS4wMTMgNC42Ny0zLjYxNUM1Ljg1MS45IDYuOTMuMDA2IDggMGMxLjA3LS4wMDYgMi4xNDguODg3IDMuMzQzIDIuMzg1QzE0LjIzMyA2LjAwNSAxNiA2IDE2IDZIMHoiIGZpbGw9InJnYmEoMCwgOCwgMTYsIDAuMikiLz48L3N2Zz4=);
  background-size:16px 6px;
  width:16px;
  height:6px
}
