html {
    -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fff;
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: #2B2B2B;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}

.title {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	font-weight: 300;
  margin-bottom: 20px;
}

.heart{
  color:#e25555;
}

h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: black;
}

.org-dl {
  background-color: #c0fec0;
  padding: 16px 16px;
  border-radius: 25px;
}


#preamble {
  padding: 5px 10px;
  border-bottom: 1px solid rgb(229, 231, 235);
}

#content {
  margin: auto;
  max-width: 50rem;
  padding-left: 10px;
  padding-right: 10px;
}

.references {
  background-color: #eee;
  padding: 8px 16px;
  border-radius: 25px;
  max-width: 20rem;
  margin: auto;
}

#postamble {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgb(229, 231, 235);
}


pre.src {
  background-color: white;
}

/* Bunch code + result blocks together */
/* Color result blocks light grey */
div.org-src-container + pre.example {
  margin-top: -22px;
  background-color: #e3e3e3;
}


/* Always display language of src block */
pre.src:before {
  display: inline;
}

blockquote {
  margin-left: 0;
  font-style: italic;
  border-left: 0.2em solid #039be5;
  padding-left: 16px;
}

a {
  color: color: rgb(37, 99, 235);
  text-decoration: none;
}

a:visited {
  color: rgb(124, 58, 237);
}

a:hover {
  color: color: rgb(30, 64, 175);
  text-decoration: underline;
}

.tippy-box {
  border: 1px solid #ddd;
  background-color: #fff;
}
.tippy-box[data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #ddd;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #ddd;
}
.tippy-box[data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #ddd;
}
.tippy-box[data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #ddd;
}
.tippy-content {
  color: #2B2B2B;
  max-height: 30rem;
  overflow-y: auto;
}

code {
  background-color: #eee;
}
