.org-highlight-numbers-number {
  /* highlight-numbers-number */
  color: #97365b;
  font-weight: bold;
}

.org-keyword {
  /* font-lock-keyword-face */
  color: #3b6ea8;
}

.org-preprocessor {
  /* font-lock-preprocessor-face */
  color: #3b6ea8;
  font-weight: bold;
}

.org-string {
  /* font-lock-string-face */
  color: #4f894c;
}

.org-variable-name {
  /* font-lock-variable-name-face */
  color: #cb9aad;
}