@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald&display=swap');

h1 {
  font-family: Oswald, Georgia, serif;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

#postamble {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#content > * {
  max-width: 40rem;
}

div.outline-2 {
  width: 100%;
}

body {
  background-color: #fbfcdd;
  font-family: Lora, system-ui, sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  padding: 0 8px;
}
