@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, Georgia, serif;
}

body {
  font-family: Lora, system-ui, sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  padding: 0 8px;
}
