html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #fff;
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: #2B2B2B;
  font-size: 15px;
  line-height: 28px;
}

.nebula {
  background-color: #990099;
}

#table-of-contents {
  background-color: #eee;
  position: fixed;
  top: 100px;
  left: 0px;
  border-radius: 10px;
  padding: 8px 16px;
}

.title {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
}

.subtitle {
  font-style: italic;
  font-size: 40%;
}

span.done {
  font-style: italic;
}

span.todo {
  font-weight: 700;
}

.karabiner-keyboard-container > div.outline-text-2 > p,
.karabiner-keyboard-container > div.outline-text-3 > p {
  line-height: 9px;
  white-space: pre;
  font-family: monospace;
}

.headlines-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.headlines-grid-container > div > h3 {
  text-align: center;
}

.heart{
  color:#e25555;
}

.underline { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 400;
  /* color: black; */
}

#preamble {
  padding: 5px 10px;
  border-bottom: 1px solid rgb(229, 231, 235);
}

#content {
  margin: auto;
  max-width: 50rem;
  padding-left: 10px;
  padding-right: 10px;
}

.references {
  background-color: #eee;
  padding: 8px 16px;
  border-radius: 25px;
  /* max-width: 20rem; */
}

.references > div > h2,
.references > div > h3,
.references > div > h4,
.references > div > h5,
.references > div > h6 {
  margin-block-end: 0;
}
.references > div > div > h3,
.references > div > div > h4,
.references > div > div > h5,
.references > div > div > h6 {
  font-size: 12px;
  margin-block-start: 0;
}

#postamble {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgb(229, 231, 235);
}


pre {
  border: 1px solid #e6e6e6;
  background-color: #f2f2f2;
  padding: 8pt;
  font-family: monospace;
  overflow: auto;
  margin: 1.2em;
}
pre.src {
  border-radius: 10px;
  border-radius: 10px;
  position: relative;
  overflow: auto;
}
pre.src:before {
  opacity: 0.5;
  content: attr(data-language);
  display: inline;
  position: absolute;
  top: -2px;
  right: 12px;
  background-color: #f2f2f299;
}
/* Bunch code + result blocks together */
/* Color result blocks light grey */
div.org-src-container + pre.example {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -24px;
  position: relative;
  top: -4px;
  background-color: #e3e3e3;
}

blockquote {
  margin-left: 0;
  font-style: italic;
  border-left: 0.2em solid #039be5;
  padding-left: 16px;
}

a {
  /* color: #01a049; */
  color: #66cc00;
  text-decoration: none;
  font-weight: 700;
}

a:visited {
  color: #01a049;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #eee;
  color: rgb(229, 126, 58)
}


/* tippy stuff */
.tippy-content {
  max-height: 30rem;
  overflow-y: auto;
}
.tippy-box[data-theme~=light-border]{
  white-space: normal;
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  text-align: left;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid rgba(0,8,16,.15);
  border-radius: 10px;
  color:#333;
  box-shadow:0 4px 14px -2px rgba(0,8,16,.08)
}
.tippy-box[data-theme~=light-border]>.tippy-backdrop{
  background-color:#fff
}
.tippy-box[data-theme~=light-border]>.tippy-arrow:after,.tippy-box[data-theme~=light-border]>.tippy-svg-arrow:after{
  content:"";
  position:absolute;
  z-index:-1
}
.tippy-box[data-theme~=light-border]>.tippy-arrow:after{
  border-color:transparent;
  border-style:solid
}
.tippy-box[data-theme~=light-border][data-placement^=top]>.tippy-arrow:before{
  border-top-color:#fff
}
.tippy-box[data-theme~=light-border][data-placement^=top]>.tippy-arrow:after{
  border-top-color:rgba(0,8,16,.2);
  border-width:7px 7px 0;
  top:17px;
  left:1px
}
.tippy-box[data-theme~=light-border][data-placement^=top]>.tippy-svg-arrow>svg{
  top:16px
}
.tippy-box[data-theme~=light-border][data-placement^=top]>.tippy-svg-arrow:after{
  top:17px
}
.tippy-box[data-theme~=light-border][data-placement^=bottom]>.tippy-arrow:before{
  border-bottom-color:#fff;
  bottom:16px
}
.tippy-box[data-theme~=light-border][data-placement^=bottom]>.tippy-arrow:after{
  border-bottom-color:rgba(0,8,16,.2);
  border-width:0 7px 7px;
  bottom:17px;
  left:1px
}
.tippy-box[data-theme~=light-border][data-placement^=bottom]>.tippy-svg-arrow>svg{
  bottom:16px
}
.tippy-box[data-theme~=light-border][data-placement^=bottom]>.tippy-svg-arrow:after{
  bottom:17px
}
.tippy-box[data-theme~=light-border][data-placement^=left]>.tippy-arrow:before{
  border-left-color:#fff
}
.tippy-box[data-theme~=light-border][data-placement^=left]>.tippy-arrow:after{
  border-left-color:rgba(0,8,16,.2);
  border-width:7px 0 7px 7px;
  left:17px;
  top:1px
}
.tippy-box[data-theme~=light-border][data-placement^=left]>.tippy-svg-arrow>svg{
  left:11px
}
.tippy-box[data-theme~=light-border][data-placement^=left]>.tippy-svg-arrow:after{
  left:12px
}
.tippy-box[data-theme~=light-border][data-placement^=right]>.tippy-arrow:before{
  border-right-color:#fff;
  right:16px
}
.tippy-box[data-theme~=light-border][data-placement^=right]>.tippy-arrow:after{
  border-width:7px 7px 7px 0;
  right:17px;
  top:1px;
  border-right-color:rgba(0,8,16,.2)
}
.tippy-box[data-theme~=light-border][data-placement^=right]>.tippy-svg-arrow>svg{
  right:11px
}
.tippy-box[data-theme~=light-border][data-placement^=right]>.tippy-svg-arrow:after{
  right:12px
}
.tippy-box[data-theme~=light-border]>.tippy-svg-arrow{
  fill:#fff
}
.tippy-box[data-theme~=light-border]>.tippy-svg-arrow:after{
  background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCA2czEuNzk2LS4wMTMgNC42Ny0zLjYxNUM1Ljg1MS45IDYuOTMuMDA2IDggMGMxLjA3LS4wMDYgMi4xNDguODg3IDMuMzQzIDIuMzg1QzE0LjIzMyA2LjAwNSAxNiA2IDE2IDZIMHoiIGZpbGw9InJnYmEoMCwgOCwgMTYsIDAuMikiLz48L3N2Zz4=);
  background-size:16px 6px;
  width:16px;
  height:6px
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #181818;
    color: #efefef;
  }
  #preamble {
    border-bottom: 1px solid #222;
  }
  #postamble {
    border-top: 1px solid #222;
  }
  code {
    background-color: #222;
  }
  pre.src:before {
    background-color: #181818;
  }
  pre {
    border: 1px solid #333;
    background-color: #181818;
  }
  div.org-src-container + pre.example {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -24px;
    position: relative;
    background-color: #222;
  }
  .references {
    background-color: #222;
  }
  .tippy-box[data-theme~=light-border] {
    background-color: #222;
    color: #efefef;
  }

  .tippy-box[data-theme~=light-border][data-placement^=top]>.tippy-arrow:before {
    border-top-color: #222
  }

  .tippy-box[data-theme~=light-border][data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: #222
  }

  .tippy-box[data-theme~=light-border][data-placement^=left]>.tippy-arrow:before {
    border-left-color: #222
  }

  .tippy-box[data-theme~=light-border][data-placement^=right]>.tippy-arrow:before {
    border-right-color: #222
  }

  .tippy-box[data-theme~=light-border]>.tippy-backdrop {
    background-color: #222
  }

  .tippy-box[data-theme~=light-border]>.tippy-svg-arrow {
    fill: #222
  }
}
